{% extends 'home/base.html' %}
{% block title %}Личный кабинет{% endblock %}
{% block content %}
<style>
header {
            background-color: #007BFF;
            color: #fff;
            padding: 20px;
        }
        section {
            background-color: #fff;
            padding: 20px;
            margin: 20px;
            border-radius: 5px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }
 </style>
  <header>Личный кабинет</header>
<section>
<p><strong>Логин: </strong>{{ user.username }}</p>
  <p><strong>Email:</strong> {{ user.email }}</p>
  <p><strong>Фамилия:</strong> {{ user.last_name }}</p>
  <p><strong>Имя:</strong> {{ user.first_name }}</p>
  <p><strong>Последнее посещение:</strong> {{ user.last_login }}</p>
    <p>Должность: {{ position.position }}</p>
    <p>Статус работы: {{ work_status }}</p>
        <ul>
        {% for schedule in work_schedules %}
            <li>{{ schedule.day_of_week }}: {{ schedule.start_time }} - {{ schedule.end_time }}</li>
        {% endfor %}
    </ul>
</section>
  <a href="{% url 'edit_profile' %}" class="btn btn-primary">Изменить данные</a>
{% endblock %}
